@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url(Montserrat.ttf);
  }
  


body {
    font-family: Montserrat
}

#sizereact {
    font-size: max(1.7cqmin, 1rem);
}
#sizereactS {
    font-size: max(1.5cqmin, 0.8rem);
}